@-webkit-keyframes starsScale {
  100% {
    transform: scale(1.17);
  }
}
@keyframes starsScale {
  100% {
    transform: scale(1.17);
  }
}
@-webkit-keyframes starsFade {
  100% {
    opacity: 0;
  }
}
@keyframes starsFade {
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=animations.css.map */