@media screen and (max-width: 768px) {
  .nav {
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 65%;
    padding: 0 5%;
  }
  .nav__list {
    display: none;
  }
  .nav__brand {
    margin-left: 0;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu > div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
  .hero {
    padding: 40% 0;
  }
  .hero > * {
    margin: 0 6%;
  }
  .main {
    padding: 20% 0;
  }
  .main > * {
    margin: 0 6%;
  }
  .main__para-container {
    flex-direction: column;
    text-align: left;
  }
  .main__para {
    flex: 0 0 0;
    margin: 0;
  }
  .main:not(button) {
    text-align: left;
  }
  .learn-more {
    padding: 40% 0;
  }
  .footer {
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__logo {
    margin-bottom: 10%;
  }
  .footer__item {
    text-align: center;
    flex: 1 1 100px;
  }
}
@media screen and (max-width: 375px) {
  .nav {
    padding: 0 20%;
  }
}/*# sourceMappingURL=mobile.css.map */