@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro&display=swap");
@-webkit-keyframes starsScale {
  100% {
    transform: scale(1.17);
  }
}
@keyframes starsScale {
  100% {
    transform: scale(1.17);
  }
}
@-webkit-keyframes starsFade {
  100% {
    opacity: 0;
  }
}
@keyframes starsFade {
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 64px;
  font-size: 48px;
}

h2 {
  line-height: 32px;
}

p {
  line-height: 22px;
}

.nav {
  margin-top: 45px;
  align-items: center;
}
.nav__link, .nav__brand {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.nav__brand {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 600;
  margin-left: 10%;
}
.nav__list {
  margin: 0 auto;
}
.nav, .nav__list {
  display: flex;
}

.hamburger-menu {
  display: none;
}

li {
  list-style: none;
  margin-right: 45px;
  font-size: 14px;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.hero {
  background-image: url("../assets/bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 15% 0;
  margin-top: -75px;
}
.hero__logo {
  position: relative;
  margin-bottom: 13px;
  /* transition */
  transform: scale(1) rotateY(0deg);
  transition: all 0.5s;
}
.hero__logo:hover {
  transform: scale(1.2) rotateY(180deg);
}
.hero__head1 {
  color: white;
  margin-bottom: 42px;
}
.hero__head2 {
  font-weight: 100;
  color: white;
  opacity: 70%;
}
.hero__anim-elements {
  float: right;
}
.hero__stars-scale {
  position: absolute;
  top: 100px;
  left: 270px;
  transform: scale(1.25);
  transform-origin: right center;
  -webkit-animation: starsScale 2s infinite alternate;
          animation: starsScale 2s infinite alternate;
}
.hero__stars-fade {
  position: absolute;
  top: 94px;
  left: 146px;
  transform: scale(1.19);
  -webkit-animation: starsFade 3s 1s infinite alternate;
          animation: starsFade 3s 1s infinite alternate;
}

.main {
  background-color: #EEEEEE;
  text-align: center;
  padding: 5% 0;
}
.main__head2 {
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 64px;
  color: #464547;
}
.main__head3 {
  color: #666666;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 48px;
}
.main__para-container {
  display: flex;
  justify-content: center;
  text-align: justify;
  margin-bottom: 30px;
}
.main__para {
  flex: 0 1 400px;
  margin: 0 6%;
}
.main__btn {
  /* button styling */
  background-color: #55C2D8;
  border: none;
  padding: 0.8% 3%;
  border-radius: 25px;
  /* text styling */
  color: white;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  /* transition */
  transform: rotate(0deg);
  transform-origin: left;
  transition: transform 0.7s;
}
.main__btn:hover {
  transform: rotate(10deg);
}

.learn-more {
  background-image: url("../assets/learn-more-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 13% 0;
}
.learn-more__head2 {
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 50px;
}
.learn-more__head3 {
  font-size: 24px;
  line-height: 32px;
}
.learn-more__btn {
  background-color: #55C2D8;
  border: none;
  border-radius: 50%;
  color: white;
  width: 150px;
  height: 150px;
  font-size: 80px;
  margin-bottom: 70px;
  /* transition */
  transform: scale(1.1);
  transition: transform 0.7s, background-color 0.3s, color 0.3s;
}
.learn-more__btn:hover {
  background-color: white;
  color: #55C2D8;
  transform: scale(0.95);
}

.footer {
  background-color: #464547;
  color: white;
  padding: 5% 10%;
  display: flex;
}
.footer__logo {
  display: flex;
  height: 20px;
}
.footer__brand {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.2em;
  margin-left: 10px;
}
.footer__item {
  opacity: 40%;
  margin: 0 10%;
  flex: 1 1 150px;
}
.footer__mail {
  color: white;
  text-decoration: none;
  margin-top: 80px;
}
.footer__item:last-of-type {
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .nav {
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 65%;
    padding: 0 5%;
  }
  .nav__list {
    display: none;
  }
  .nav__brand {
    margin-left: 0;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu > div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
  .hero {
    padding: 40% 0;
  }
  .hero > * {
    margin: 0 6%;
  }
  .main {
    padding: 20% 0;
  }
  .main > * {
    margin: 0 6%;
  }
  .main__para-container {
    flex-direction: column;
    text-align: left;
  }
  .main__para {
    flex: 0 0 0;
    margin: 0;
  }
  .main:not(button) {
    text-align: left;
  }
  .learn-more {
    padding: 40% 0;
  }
  .footer {
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__logo {
    margin-bottom: 10%;
  }
  .footer__item {
    text-align: center;
    flex: 1 1 100px;
  }
}
@media screen and (max-width: 375px) {
  .nav {
    padding: 0 20%;
  }
}/*# sourceMappingURL=styles.css.map */