@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: $font-main;
    line-height: $h1-line-height;
    font-size: $h1-font-size;
}

h2 {
    line-height: $h2-line-height;
}

p {
    line-height: $p-line-height;
}

.nav {
    margin-top: 45px;
    align-items: center;

    &__link {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    &__brand {
        @extend .nav__link;

        font-size: $nav-links-font-size;
        letter-spacing: 0.1em;
        font-weight: 600;
        margin-left: 10%;
    }

    &__list {
        margin: 0 auto;
    }

    &, &__list {
        display: flex;
    }
}

.hamburger-menu {
    display: none;
}

li {
    list-style: none;
    margin-right: 45px;
    font-size: $li-font-size;
    letter-spacing: 0.2em;
    font-weight: 400;
}

.hero {
    background-image: url("../assets/bg.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 15% 0;
    margin-top: -75px;

    &__logo {
        position: relative;
        margin-bottom: 13px;

        /* transition */
        transform: scale(1) rotateY(0deg);
        transition: all 0.5s;
    }

    &__logo:hover {
        transform: scale(1.2) rotateY(180deg);
    }

    &__head1 {
        color: white;
        margin-bottom: 42px;
    }

    &__head2 {
        font-weight: 100;
        color: white;
        opacity: 70%;
    }

    &__anim-elements {
        float: right;
    }

    &__stars-scale {
        position: absolute;
        top: 100px;
        left: 270px;
        transform: scale(1.25);
        transform-origin: right center;
        animation: starsScale 2s infinite alternate;
    }

    &__stars-fade {
        position: absolute;
        top: 94px;
        left: 146px;
        transform: scale(1.19);
        animation: starsFade 3s 1s infinite alternate;
    }
}

.main {
    background-color: $bg-color-main;
    text-align: center;
    padding: 5% 0;

    &__head2 {
        margin-bottom: 40px;
        font-size: $h1-font-size;
        line-height: $h1-line-height;
        color: $text-color-main-h2;
    }

    &__head3 {
        color: $text-color-main-h3;
        font-size: 24px;
        line-height: $h2-line-height;
        margin-bottom: 48px;
    }

    &__para-container {
        display: flex;
        justify-content: center;
        text-align: justify;
        margin-bottom: 30px;
    }
    
    &__para {
        flex: 0 1 400px;
        margin: 0 6%;
    }

    &__btn {
        /* button styling */
        background-color: $btn-main-color;
        border: none;
        padding: .8% 3%;
        border-radius: 25px;
    
        /* text styling */
        color: white;
        text-transform: uppercase;
        font-family: $font-btn;
        font-size: $btn-font-size;
        letter-spacing: 0.1em;
    
        /* transition */
        transform: rotate(0deg);
        transform-origin: left;
        transition: transform 0.7s;
    }

    &__btn:hover {
        transform: rotate(10deg);
    }
}

.learn-more {
    background-image: url("../assets/learn-more-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 13% 0;

    &__head2 {
        font-size: $h1-font-size;
        line-height: $h1-line-height;
        margin-bottom: 50px;
    }

    &__head3 {
        font-size: 24px;
        line-height: $h2-line-height;
    }

    &__btn {
        background-color: $btn-main-color;
        border: none;
        border-radius: 50%;
        color: white;
        width: 150px;
        height: 150px;
        font-size: 80px;
        margin-bottom: 70px;
    
        /* transition */
        transform: scale(1.1);
        transition: transform .7s, background-color .3s, color .3s;
    }

    &__btn:hover {
        background-color: white;
        color: $btn-main-color;
        transform: scale(.95);
    }
}

.footer {
    background-color: #464547;
    color: white;
    padding: 5% 10%;
    display: flex;

    &__logo {
        display: flex;
        height: 20px;
    }

    &__brand {
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 0.2em;
        margin-left: 10px;
    }

    &__item {
        opacity: 40%;
        margin: 0 10%;
        flex: 1 1 150px;
    }

    &__mail {
        color: white;
        text-decoration: none;
        margin-top: 80px;
    }

    &__item:last-of-type {
        margin-top: auto;
    }
}