@include break(768px) {
    .nav {
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 65%;
        padding: 0 5%;

        &__list {
            display: none;
        }

        &__brand {
            margin-left: 0;
        }
    }

    .hamburger-menu {
        display: block;

        & > div {
            width: 25px;
            height: 3px;
            background-color: white;
            margin: 6px 0;
        }
    }

    .hero {
        padding: 40% 0;

        & > * {
            margin: 0 6%;
        }
    }

    .main {
        padding: 20% 0;

        & > * {
            margin: 0 6%;
        }
        
        &__para-container {
            flex-direction: column;
            text-align: left;
        }

        &__para {
            flex: 0 0 0;
            margin: 0;
        }

        &:not(button) {
            text-align: left;
        }
    }

    .learn-more {
        padding: 40% 0;
    }

    .footer {
        padding-top: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__logo {
            margin-bottom: 10%;
        }

        &__item {
            text-align: center;
            flex: 1 1 100px;
        }
    }
}

@include break (375px) {
    .nav {
        padding: 0 20%;
    }
}