@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro&display=swap');

$font-main: 'Source Sans Pro', sans-serif;
$font-btn: 'Oswald', sans-serif;

$h1-font-size: 48px;
$h1-line-height: 64px;
$h2-line-height: 32px;
$p-line-height: 22px;
$nav-links-font-size: 1.5em;
$li-font-size: 14px;
$btn-font-size: $li-font-size;

$bg-color-main: #EEEEEE;
$text-color-main-h2: #464547;
$text-color-main-h3: #666666;
$btn-main-color: #55C2D8;